
body {
  background-color: #B0BEC5;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  margin: 0; 
}
nav ul{
  background-color: #eee; 
  overflow: hidden;
  margin: 0;
  padding: 0;
}
ul.topnav li {
  list-style: none;
  float: left;
}

ul.topnav li.topnav-right{
  float: right;
  list-style: none;
}
ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #666;

}

ul.topnav li a:hover {
  background-color: #8880ff;
  color: #fff;
}

/* jumbotron edit */

.jumbotron {
 background-color:#90A4AE;
}



h1 {
    padding-top: 50px;
    font-size: 4em;
    text-transform: capitalize;
    text-shadow: 4px -1px 4px #ff7bac;
    text-align: center;

}

.imgCenter{
  border-radius: 10%;
  display: block;
  size: 50%;
  margin: auto;

}

.btnCenter{
  display: block;
  margin: auto;
  color: #CFD8DC;
  width: 55%;

}
.col-img{
   transform: scale(1.05);
}

h3 {
  text-align: center;
}
p.lead{
  text-align: center;
}
p{
  color: white;
}
.sec-col{
  padding-bottom: 20px;
}
