
body {
  background-color: #B0BEC5;
  background-size: cover;
}

nav {
  width: 100%;
  margin: 0; 
}
nav ul{
  background-color: #eee; 
  overflow: hidden;
  margin: 0;
  padding: 0;
}
ul.topnav li {
  list-style: none;
  float: left;
}

ul.topnav li.topnav-right{
  float: right;
  list-style: none;
}
ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #666;

}

ul.topnav li a:hover {
  background-color: #8880ff;
  color: #fff;
}

/* jumbotron edit */

.jumbotron {
 background-color:#90A4AE;
}

/* top login and sign up buttons*/

button:hover{
  background-color: #8880ff;
}
.btnsignup {
  margin-left: 50px;
  margin-bottom: 30px;

}
.btnlogin{
  margin-left: 500px;
  margin-bottom: 30px;



}
.popular-con{
  padding-top: 40px;
  padding-bottom: 20px;

}
.favorites-con{
  padding-top: 40px;
  padding-bottom: 20px;

}

h1.display-3{
    padding-top: 50px;
    font-size: 4em;
    text-transform: capitalize;
    text-shadow: 4px -1px 4px #ff7bac;
    text-align: center;

}

.imgCenter{
  border-radius: 10%;
  display: block;
  size: 50%;
  margin: auto;

}

.btnCenter{
  display: block;
  margin: auto;
  color: #CFD8DC;
  width: 55%;

}

h3 {
  text-align: center;
}
p.lead{
  text-align: center;
  color: black ;
  
}

/*bookdetails*/

.book-dets{
  background: red;
  margin: 0 auto;
} 

..book-detail-image{
  margin: 0 auto;
}

.book-detail-image img{
  max-height: 250px;
  max-width:200px;
  margin: auto;
}

.book-detail-txt-holder {
  max-height: 509.8px;
  max-width:579.5px;
  /*background: red;*/
  height: 400px;
  border-bottom: 1px solid black;
}


.btn-bookdetail{
  display: block;
  margin-left: 250px;
}

#voting{
   width:30px;
   height:40px;
}
.upvote{
   width:30px;
   height: 20px;
   background-image: url(./templates/img/logo.png);
   cursor: pointer;
}
.downvote{
   width:30px;
   height: 20px;
   background: url('./templates/img/logo.png') 0 0 no-repeat;
   cursor: pointer;
}
